services:
  postgres:
    image: docker.io/library/postgres:18
    container_name: local-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dionysus_db
    volumes:
      - pgdata:/var/lib/postgresql

  backend:
    build:
      context: backend
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/dionysus_db
    depends_on:
      - postgres
    ports:
      - "8000:8000"

  frontend:
    build:
      context: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  pgdata:
